---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
I am very interested in teaching, and am pursuing a <a href = 'https://crlt.umich.edu/um.gtc'>Graduate Teacher Certificate</a> from the Center for Research on Learning and Teaching at the University of Michigan. The certificate includes attending a teaching orientation, attending multiple workshops on teaching practice, at least two semesters of teaching experience, a mentorship experience related to teaching, and writing a teaching philosophy statement.
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
